.hero__heading {
  @apply text-3xl md:text-5xl xl:text-6xl font-bold md:font-extrabold;
  line-height: 1.5 !important;
}

.hero__para {
  @apply text-base md:text-lg;
  margin-right: 28%;
}

.hero__contact input {
  @apply rounded-tl rounded-bl;
}
.hero__contact button {
  @apply rounded-br rounded-tr;
}

.hero__images {
  @apply ml-2;
}

.hero__images div {
  @apply -ml-2 border-2 border-white;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  background-color: #13ded2;
}

.hero__images div p {
  @apply text-black font-bold text-center;
  margin-top: 10px;
  font-size: 9px;
}

.hero__images img {
  @apply -ml-2;
}

/*Right side Css*/
@media (max-width: 768px) {
  .hero__para {
    @apply mr-0;
  }
}

@media (max-width: 420px) {
  .hero__contact {
    @apply flex-col;
  }
}
