@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './styles/components/headings.css';
@import './styles/components/btn.css';
@import './styles/components/input.css';
@import './styles/components/alert.css';

:root {
  --font-family-man: 'Manrope', sans-serif;
  --font-family-rob: 'Roboto', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}

.dark {
  --gradient-primary: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
  --color-bg-primary: #040c18;
  --color-bg-secondary: #ff4820;
  --color-bg-tertiary: #052d56;
  --color-bg-quaternary: #052d56;
  --color-bg-quinary: #040c18;

  --text-primary: #fafafa;
  --text-secondary: #a8bccf;
  --text-tertiary: #79a3cc;
}

.light {
  --gradient-primary: linear-gradient(circle at 3% 25%, #f1f1f1 0%, #f1f1f1 100%);
  --color-bg-primary: #fafafa;
  --color-bg-secondary: #ff4820;
  --color-bg-tertiary: #ae67fa;
  --color-bg-quaternary: #fff;
  --color-bg-quinary: #fff;

  --text-primary: #040c18;
  --text-secondary: #0c365f;
  --text-tertiary: #040c18;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
